body {
  margin: auto;
  overflow: hidden;
}

.main-trefoil-anim-cont {
  height: 100vh;
  width: 100vw;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate-anim {
  will-change: transform;
}

.horz-anim {
  will-change: transform;
}

.vert-anim {
  will-change: transform;
}

.scale-anim {
  will-change: transform;
}

.dot {
  will-change: transform;
  border-radius: 100%;
  background: red;
  height: 5rem;
  width: 5rem;
}

