.main-trefoil-anim-cont {
  transform: scale(0.1);
  height: 100%;
  width: 100%;
  /*background: #eee;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate-anim {
  will-change: transform;
}

.horz-anim {
  will-change: transform;
}

.vert-anim {
  will-change: transform;
}

.scale-anim {
  will-change: transform;
}

.dot {
  will-change: transform;
  border-radius: 100%;
  background: red;
  height: 5rem;
  width: 5rem;
}

